a {
    text-decoration: none;
}
p {
    color:red;
}
.fontbold {
    font-weight: bold;
}
.blocprofil {
    padding-top:50px;
    box-shadow: 1px 1px 1px 1px salmon;
    border-radius: 10px;
    height: 400px;
    width: 600px;
    background-color: white; 
    margin:auto;
    margin-top:100px;
}

.blocprofilflex {
    display: flex;
    margin-left:10%;
}

.blocprofilimage {
    position:absolute;
    left: 50%;
margin-left:50px;
   
}

.label-file {
    color:#FD2D01;
   font-size: 40px;
   cursor: pointer;
  
}
.input-file {
    display: none;
}
.changeimage {
    cursor: pointer;
    font-weight: bold;
    
}
.changeimage:hover {
   color:black;
}
.imageprofil {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.buttonannule {
    width: 120px;
    height: 30px;
    color:whitesmoke;
    background-color:salmon ;
    border: none;
    cursor: pointer;
    border-radius: 30px; 
    position: relative;
    top:50px;
    left:30px
}
.buttonupdatebio {
    width: 150px;
    height: 40px;
    color:whitesmoke;
    background-color: salmon;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    margin-left:40px;
    margin-top:50px;
}
.areabio {
    height: 100px;
    width: 300px;
    border: none;
    box-shadow: 1px 1px 1px 1px salmon;
    padding-top:10px;
    padding-left:10px;
    border-radius: 10px;
}
.buttonupdate {
    width: 120px;
    height: 30px;
    color:whitesmoke;
    background-color:salmon ;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    float: right;
    margin-right: 40px;
    margin-top:20px;
}


.buttonannule:hover {
    color:salmon;
    background-color:whitesmoke ;
}
.buttonupdatebio:hover  {
    color:salmon;
    background-color:whitesmoke ;
}
.areabio:hover  {
    color:salmon;
    background-color:whitesmoke ;
}
.buttonupdate:hover  {
    color:salmon;
    background-color:whitesmoke ;
}
/******** User Info Page ***********/

.ImageUserInfo {
    position: relative;
    left:300px;
    bottom:200px;
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 10px;
  }
  
  .fontbold {
      font-weight: bold;
  } 


  /* Responsiv TABLETTE */

@media(min-width: 800px) and (max-width :1366px) {
    .blocprofil {
        margin-top: 80px;
        margin-bottom:20px;
        height: 380px;
    }
    .buttonannule {
        position: relative;
        top:30px;
        left:30px
    }
    .buttonupdate {
      
        margin-top:0px;
    }
}

@media(min-width: 500px) and (max-width :800px) {
    .blocprofil {
        margin-top: 80px;
        margin-bottom:20px;
        height: 380px;
    }
    .buttonannule {
        position: relative;
        top:30px;
        left:30px
    }
    .buttonupdate {
      
        margin-top:0px;
    }
}

/* Responsiv Mobile */

@media(max-width :500px) {
    .blocprofil {
        width: 360px;
    }

    .buttonannule {
        position: relative;
        top:40px;
        left:30px
    }
    .buttonupdate {
      
        margin-top:10px;
    }
    
}