body {
    margin:0px;  
}

.Home{
   margin-top: 20px;
}
.blocposthome {
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 10px; 
    width: 600px;
    background-color: #FFD7D7; 
    margin:auto;
    margin-bottom:30px;
    
}
.Auteurflexbox {
    display: flex;
}
.Imageprofilpost {
    width: 40px;
    height: 40px;
    border-top-left-radius: 10px;
    margin-right: 10px;
    object-fit: cover;
}
.Username {
    font-weight: bold;
}
.messageposthome {
    margin-left:20px;
    color:black;
}
.imagepost {
   width: 100%;
   object-fit: cover;
}

.footerpost {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom:8px;
}
.likepostbutton {
    margin-top:15px;
    margin-left:20px;
    border:none;
    background: none;
    cursor: pointer;
    color:#FD2D01;
    font-size:25px;
    transform: scale(1);
    transition: transform 400ms;
   
}
.likepostbutton.liked {
    color: blue;
  }
.likepostbutton:hover {
    transform: scale(1.30);
}
.likecounter{
    padding-left:10px;
}
.compteurlike {
    color:gray;
    margin-left:10px;
   
}
.updatepostbutton {
    margin-right:30px;
    border:none;
    background: none;
    cursor: pointer;
    color:#FD2D01;
    font-size:25px;
    transform: scale(1);
    transition: transform 400ms;
    margin-top:15px;
   
}

.updatepostbutton:hover {
    transform: scale(1.30);
}


.deletepostbutton {
   margin-right:30px;
    border:none;
    background: none;
    cursor: pointer;
    color:#FD2D01;
    font-size:20px;
    transform: scale(1);
    transition: transform 400ms;
}
.deletepostbutton:hover {
    transform: scale(1.30);
}

/* Responsiv TABLETTE */

@media(min-width: 800px) and (max-width :1366px) {
    .blocposthome {
        width: 500px;
        margin-bottom:30px;
        margin-left:10px;
    }
}

@media(min-width: 540px) and (max-width :800px) {
    .blocposthome {
        width: 360px;
        margin-bottom:30px;
        margin-left:10px;
    }
}

/* Responsiv Mobile */

@media(max-width :540px) {
    .blocposthome {
        width: 310px;
        margin:auto;
        margin-bottom:30px;
    }
}


