a {
    text-decoration: none;
}
p {
    color:red;
}
.blocprofil {
    padding-top:50px;
    box-shadow: 1px 1px 1px 1px salmon;
    border-radius: 10px;
    height: 400px;
    width: 600px;
    background-color: white; 
    margin:auto;
    margin-top:100px;
}

.blocprofilflex {
    display: flex;
    justify-content: space-around;
}

.blocprofilimage {
    display: flex;
    flex-direction: column;
}

.changeimage {
    cursor: pointer;
    transform: scale(1);
    transition: transform 400ms;
}
.changeimage:hover {
    transform: scale(1.45);
}

.imageprofil {
    width: 100px;
    height: 100px;
}

