body {
    margin:0px;  
}

.BlocPostHome {
    margin-top:100px;
}

.PosterMessage {
    padding:5px 10px 5px 10px ;
    border: 1px solid #FD2D01;
    color:#FD2D01;
    background-color: white;
    border-radius: 10px;
    position: relative;
    left:30%;
    
    
}

.PosterMessage:hover {
    color:white;
    background-color:#FD2D01 ;
}




