
.NavBar {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 60px;
    background-color: white;
    text-align: center;
    padding-top:50px;
    border-radius: 30%;
    border:1px solid #FD2D01;
   
    
}
.icon {
    color:#FD2D01;
    font-size:30px;
    margin-bottom:20px;
}

.icon:hover {
    
    border-left: 4px solid #FD2D01;
}

