
.ProfilBloc { 
    background-color: whitesmoke;
    border-radius: 10px;
    height: 400px;
    width: 800px;
    margin-top:100px;
    padding-top:10px;
}
.box {
    display: flex; 
    justify-content: center; 
}

.navbar {
    position: fixed;
    left:15%;
    top:13%;
    margin-top:40px;
}

a {
    text-decoration: none;
}

.blocprofil {
    box-shadow: 1px 1px 1px 1px salmon;
    border-radius: 10px;
    height: 400px;
    width: 600px;
    background-color: white; 
    margin:auto;
    margin-top:100px;
}
