body {
    background-color: whitesmoke;
    font-family: 'Lato';
  
}


.boxlogin {
    display: flex;
   justify-content: center;
   margin-top:150px;
}

h1 {
   
    color:#FD2D01;
    font-size: 50px; 

}
h2 {
   
    width: 400px;
    padding-right: 120px;

}


.blocregister {
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    background-color: white;
    border-radius: 10px;
    height: 420px;
    width: 450px;
    padding-top:10px;
    background-image: url(../images/login.jfif);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}



.switchlogin {
    background-color: #FD2D01;
    padding:8px 20px 10px 20px;
    border-radius: 10px;
   margin-left:30px;
   color:white;
   font-style: bold;
}